html {
  --color-primary-900: rgb(47, 4, 82);
  --color-primary-890: rgb(50, 5, 87);

  --color-primary-860: rgb(94, 4, 168);
  --color-primary-850: rgb(79, 10, 190);
  --color-primary-800: rgb(112, 13, 204);
  --color-primary-600: rgb(140, 0, 255);
  --color-primary-400: rgb(215, 187, 247);
  --color-primary-200: rgb(243, 227, 255);
  --color-primary-100: rgb(247, 239, 247);
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(44, 41, 44);
  background-color: var(--color-primary-100);
}

header {
  background-color: var(--color-primary-600);
  color: white;
  padding: 2rem 5%;
  text-align: center;
}

button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: var(--color-primary-600);
  border: 1px solid var(--color-primary-600);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-primary-600);
}

button:hover {
  background-color: var(--color-primary-850);
  border-color: var(--color-primary-850);
}

.btn-alt:hover {
  background-color: rgb(230, 201, 252);
  border-color: transparent;
}